// 
body {
  overflow-x: hidden;
}

// MEDIDAS
@media (width >= 992px) {
    .fs-5-lg {
      font-size: 1.25rem !important;          // ≈ h2 en desktop
    }
    .fs-6-lg {
        font-size: 1.20rem !important;          // ≈ h2 en desktop
      }
  }

  