// GENERAL
body {
  overflow-x: hidden;
}

// MEDIDAS
@media (width >= 992px) {
    .fs-5-lg {
      font-size: 1.25rem !important;          // ≈ h2 en desktop
    }
    .fs-6-lg {
        font-size: 1.20rem !important;          // ≈ h2 en desktop
      }
  }



@media (min-width: 768px) {
  #testimonialCarousel .carousel-control-prev-icon,
  #testimonialCarousel .carousel-control-next-icon {
    width: 5rem;
    height: 5rem;
    /* optional: fondo suave para que se vea mejor */
    border-radius: 50%;
  }
}

/* 2. Ocultar flechas en móvil */
@media (max-width: 767px) {
  #testimonialCarousel .carousel-control-prev,
  #testimonialCarousel .carousel-control-next {
    display: none;
  }
}

@media (min-width: 768px) {
  /* botón izquierdo */
  #testimonialCarousel .carousel-control-prev {
    margin-left: -5rem;   /* aleja hacia la izquierda */
  }
  /* botón derecho */
  #testimonialCarousel .carousel-control-next {
    margin-right: -5rem;  /* aleja hacia la derecha */
  }
}